@font-face {
    font-family: "LibreBarcode";
    src: url("/bclaw.design/assets/LibreBarcode39ExtendedText-Regular.ttf");
}

@font-face {
    font-family: Modak;
    src: url("/assets/Modak-Regular.ttf");
}

body {
    background-color: #111;
}

.form {
    color: seashell;
}

.contact {
    color: seashell;
    font-family: LibreBarcode;
    font-size: 222%;
}

.footer {
    color: rgb(59, 59, 59);
    margin: 2rem;
}
.surge {
    color: rgb(59, 59, 59);
    background-color: transparent;
}

