@font-face {
    font-family: "LibreBarcode";
    src: url("/bclaw.design/assets/LibreBarcode39ExtendedText-Regular.ttf");
}

@font-face {
    font-family: Modak;
    src: url("/assets/Modak-Regular.ttf");
}

body {
    background-color: #111;
}

.form {
    color: seashell;
    max-width: 720px;
}

.contact {
    font-family: LibreBarcode;
    font-size: 222%;
}

